/* 5bc0de 
.container
.label-text*/

.container {
    background-image: linear-gradient(#8b90d0, #7dc9bd);
    color: white;
    padding: 15px;
    width: 70%;
}


.visible{
    float: right;
    padding-right: 35%;
}

input[type=number], input[type=date], input[type=email] {
    width: 40%;
    height: 3%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


input[type=text], input[type=password] {
    width: 40%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=number]:focus, input[type=date]:focus, input[type=text]:focus {
    background-color: #ddd;
    outline: none;
    border: 0px;
}

select {
    width: 40%;
    height: 3%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.btn-outline-light {
    width: 130px;
}

.material-icons.md-48 {
    font-size: 60px;
}

.material-icons.arrow {
    color: white;
    font-size: 40px;
}

.back-arrow {
    background: none;
    border: none;
    padding: 0px;
    color: white;
    vertical-align: center;
    height: 40px;
}

.back-arrow-text{
    padding: 0px;
    font-size: 10px;
}

.dotted-logo {
    margin-right: 20px;
    /* margin-bottom: 10px; */
    float: right;
    height: 80px;
}

.logo-text{
    padding: 0px;
    font-size: 10px;
    text-align:center;
    font-family: Arial Narrow, sans-serif;
    height: 15px;
    margin: 0px;
    font-weight: 700;
}

.landlord-header{
    text-align: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.landloard-text {
    font-size: 45px;
}

.instructions{
    text-align: left;
    font-weight: 200;
    padding-bottom: 5%;
}

.description-text {
    width: 90%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.label-text {
    font-weight: 400;
}

.footer-text {
    font-weight: 500;
}


#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 400px;
    font-family: sans-serif;
    margin-right: 10px;
    padding: 20px;
  }
  #drop-area.highlight {
    border-color: purple;
  }

  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }

  #fileElem{
      display:none;
  }
  .upload-button{
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
  }


.login{
    text-align: center
}

.login-header{
    text-align: center;
    width: 100%;
    padding-left: 7%;
    margin: 0px;
}

.login-label{
    text-align: left;
}

.profile-picture{
    width: 25%;
}

.profile-item{
    margin-bottom: 20px;
    width: 80%;
}

.profile-introduction{
    width:40%;
}